@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');


body {
  background-color: black;
}

#con {
  size: 100px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  min-height: 100vh;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

#tag {
  color: #6aaaed;
  font-size: 1.2vh;
}

#timerLabel {
  font-size: 14vh;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 400;
  color: #6aaaed;
}
